// Colores y variables que se repiten en todo el proyecto

$verde: #4CAF4F;

$texto-oscuro: #4D4D4D;
$texto-gris: #717171;
$texto-negro: #263238;
$texto-azulado: #18191F;
$texto-boton-gris: #89939E;

$fondo-plata: #F5F7FA;
$fondo-negro: #263238;
$blanco: #FFFFFF;

$borde-placeholder: #D9DBE1;

$fuente: "Inter", sans-serif;

$ancho-maximo: 1200px;
