// Colores y variables que se repiten en todo el proyecto

$verde: #69B99D;

$texto-oscuro: #4D4D4D;
$texto-gris: #7D7987;
$texto-negro: #263238;
$texto-celeste: #89C5CC;

$fondo-blanco: #FFFFFF;


$ancho-maximo: 1200px;
