body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: #4D4D4D;
}

.highlight {
  color: #69B99D;
}


.HomeMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

.Menu{
  display: flex;
  justify-content: flex-end; 
  gap: 50px;
}

.section{
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 108.4px 0 0 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

p {
  font-size: 1rem;
  color: #717171;
}

a {
  text-decoration: none;
}
.divIMAGEN {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-left: auto;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.boton { 
  padding: 14px 32px; 
  border-radius: 4px; 
  background-color: #69B99D; 
  color: #ffffff;   
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;       
}


.textoIzquierda {
  max-width: 480px;
  flex: 1 1 400px;
}

.divIMAGEN {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-left: auto;
}


.whatLogo{
  width: 20px;           
  height: auto;           
};

.decoracion{
  display: flex;
  justify-content: flex-end; 
};

.footer {
  display: block;
  width: 100%;
  text-align: center;
  padding: 40px 15px 30px 15px;   
  color: #717171;
  font-size: 0.9rem;
  box-sizing: border-box;          
}

.decoracion {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: flex;
  justify-content: flex-end;
}