body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: #4D4D4D;
}

.highlight {
  color: #69B99D;
}


.HomeMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}



a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.boton { 
  padding: 14px 32px; 
  border-radius: 4px; 
  background-color: #69B99D; 
  color: #ffffff;          
}


.divIMAGEN {
  display: flex;
  justify-content: flex-end; 
};


.whatLogo{
  width: 20px;           
  height: auto;           
};

.decoracion{
  display: flex;
  justify-content: flex-end; 
};
